<div class="container">
    <div class="row">
        <div class="col-4 offset-4" style="margin-top: 5%;">
            <div class="form">
                <div class="form-group">
                    <label for="email" class="form-label" > Correo electronico </label>
                    <input id="email" name="email" type="email" class="form-control" [(ngModel)]="correo">
                </div>
                <div class="form-group">
                    <label for="nombre" class="form-label"> nombre </label>
                    <input id="nombre" name="nombre" type="nombre"  [(ngModel)]="nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label for="aPaterno" class="form-label" > Apellido Paterno </label>
                    <input id="aPaterno" name="aPaterno" type="aPaterno" [(ngModel)]="aPaterno" class="form-control">
                </div>
                <div class="form-group">
                    <label for="aMaterno" class="form-label" > Apellido Materno </label>
                    <input name="aMaterno" id="aMaterno" type="aMaterno" [(ngModel)]="aMaterno" class="form-control">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success" (click)="registrer()">Registrar </button>
                </div>
            </div>

        </div>
    </div>
</div>