<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="form">
                    <div class="form-group">
                        <label for="username" class="form-label">
                            Usuario
                        </label>
                        <input class="form-control" type="text" name="usermane" id="username" [(ngModel)]="username">
                    </div>
                    <div class="form-group"> 
<label for="password" class="form-label">
    contraseña
</label>
<input  id = "password" class="form-control" type="password" [(ngModel)]="password">
                    </div>
                    <div class="form-group text-center" style="margin-top: 2%;">
                        <button class="btn btn-primary" (click)="authentificacion()">Iniciar Sesion</button>
                    </div>
            </div>
        </div>
    </div>
</div>