<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="form">
            
                <div class="form-group">
                        <label for="crendetionPhoto" class="form-label">Seleccione una foto</label>
                        <input type="file" Id="credentialPhoto" class="form-control" (change)="onfileSelected($event)">
                </div>
                <div class="form-group text-center">
                        <button class="btn btn-success" (click)="saveFile()">Agregar Archivo</button>
                </div>
            </div>
        </div>
    </div>
</div>
